.PJS {
  font-size: 20px;
}
.Figtree {
  font-size: 20px;
  font-family: Figtree;
}
.Manrope {
  font-size: 20px;
}
.head {
  width: 100%;
}
.body {
  width: 100%;
}
.footer {
  width: 100%;
}
