.label {
  width: 100%;
  height: 100%;
  background-color: #29337c;
  padding: 10px;
}
a {
  color: white;
}
.navig {
  padding: 20px;
  .navig_item {
    min-width: 200px;
    padding: 5px;
  }
}
.col {
  text-align: center;
}
